
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# dependencies
node_modules/

# traces & videos
test-results/
*.zip
*.trace
*.webm
*.png

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# env files (секреты)
.env
.env.local
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# IDE history
.history/

# coverage
coverage/

# build
dist/
build/